<div class="table-responsive">
    <table class="table" >
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
            <!-- <tbody>
                <tr>
                    <td>{{posts.title}}</td>
                    <td>{{posts.body}}</td>
                </tr>
            </tbody> -->
        </thead>
        <tbody>
            <tr *ngFor='let posts of filteredPosts'>
                <td>{{posts.title}}</td>
                <td>{{posts.body}}</td>
            </tr>
        </tbody>
    </table>

</div>