<div class="container">
<div class="card">
    <!-- <div class="card-header">
            <div class='col-md-2'></div>
            <div class='col-md-4'>
                <ul class="navbar-nav">
                  <li><a href="/src/app/todo/todo.component.html">Todo</a></li>
                  <li><a href="/src/app/posts/posts.component.html">Posts</a></li>

                </ul>
            </div>
    </div> -->
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col">

        
      </div>
    </div>
      <form #todoForm= "ngForm"(submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
        <div class="form-group">
        <h1 class="text-center ">Todo</h1>
          <div class="input-group-prepend">
              <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" ngModel>
            <span class="input-group-text" (click)="addTodo(todo.value)">
            <i class="material-icons">add</i></span>
          </div>
        </div>
        <div class="data">
        <ul class="list-unstyled">
          <li   *ngFor="let todo of todoArray">{{todo}} <i (click)="deleteItem(todo)" class="material-icons">delete</i></li>
        </ul>
      </div>
      </form>
    </div>